# ITERTOOLS
- 이터레이터들을 관리 하기 위한 모듈 집합
- 이터레이터랑 -> for loop 에 들어가서 사용할수 있는 데이터 타입들
- 가장 흔한 데이터 타입은 리스트

# PRODUCT()
- 데카르트 곱을 하게 해주는 모듈

<img src='https://mblogthumb-phinf.pstatic.net/MjAxOTAzMjJfNjQg/MDAxNTUzMTgyNjMyODc0.COyHm_50YckCEMqRYorVcodam8RtJGEt-FP_LvYlTGcg.rsSusMVuBKXwMwqjv5WqA4Or5HpdXBhPMNlmc8AnbS0g.PNG.sw4r/Screen_Shot_2019-03-21_at_15.37.01.png?type=w800'>

<img src='https://mblogthumb-phinf.pstatic.net/MjAxOTAzMjJfNjEg/MDAxNTUzMTgyMjY2MzQ0.gotw_xQeVXUOeMbxXNUYu42ewz_E2TRpfSz_jJnYNPYg.E-twaOBEfPsKZcMqdyWXI9DI2E08zZ9-d8fOHV70odIg.PNG.sw4r/Screen_Shot_2019-03-21_at_15.30.48.png?type=w800'>

In [2]:
from itertools import product

prod = product([1, 2], [3, 4])
print(list(prod)) # note that we convert the iterator to a list for printing

# to allow the product of an iterable with itself, specify the number of repetitions 
prod = product([1, 2], [3], repeat=2)
print(list(prod)) # note that we convert the iterator to a list for printing

[(1, 3), (1, 4), (2, 3), (2, 4)]
[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

## 순열 조합 차이 (알고리즘)
- 순서가 있고 없고 -> 순열 순서 중요, 조합 순서 안 중요

# permutations() : 순열

- iterable with all possible orderings and no repeadted

In [6]:
from itertools import permutations

perm = permutations([1, 2, 3])
print(list(perm))

# optional: the length of the permutation tuples
perm = permutations([1, 2, 3, 4], 2)
print(list(perm))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
[(1, 2), (1, 3), (1, 4), (2, 1), (2, 3), (2, 4), (3, 1), (3, 2), (3, 4), (4, 1), (4, 2), (4, 3)]

# combinations() and combinations_with_replacement() : 조합

*combinations()* does not allow repeated elements : 중복 허용을 하고
*combinations_with_replacement()* does. : 중복 허용을 안한다

In [5]:
from itertools import combinations, combinations_with_replacement

# the second argument is mandatory and specifies the length of the output tuples.
comb = combinations([1, 2, 3, 4], 2)
print(list(comb))

comb = combinations_with_replacement([1, 2, 3, 4], 2)
print(list(comb))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]
[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

# accumulate() 
- 합을 축적해서 보여준다

In [8]:
from itertools import accumulate

# return accumulated sums
acc = accumulate([1,2,3,4])
print(list(acc))

# other possible functions are possible
import operator
acc = accumulate([1,2,3,4], func=operator.mul)
print(list(acc))

acc = accumulate([1,5,2,6,3,4], func=max)
print(list(acc))

[1, 3, 6, 10]
[1, 2, 6, 24]
[1, 5, 5, 6, 6, 6]

# groupby()

- 정해진 조건에 따른 true, false 값을 그룹해서
- 그 필터에 따른 값 보여주기

In [9]:
from itertools import groupby

# use a function as key
def smaller_than_3(x):
    return x < 3

group_obj = groupby([1, 2, 3, 4], key=smaller_than_3)
for key, group in group_obj:
    print(key, list(group))
    
# or use a lamda expression, e.g. words with an 'i':
group_obj = groupby(["hi", "nice", "hello", "cool"], key=lambda x: "i" in x)
for key, group in group_obj:
    print(key, list(group))
    
persons = [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}, 
           {'name': 'Lisa', 'age': 27}, {'name': 'Claire', 'age': 28}]

for key, group in groupby(persons, key=lambda x: x['age']):
    print(key, list(group))

True [1, 2]
False [3, 4]
True ['hi', 'nice']
False ['hello', 'cool']
25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

# Infinite iterators: count(), cycle(), repeat()

In [10]:
from itertools import count, cycle, repeat
# count(x): count from x: x, x+1, x+2, x+3...
for i in count(10):
    print(i)
    if  i >= 13:
        break

# cycle(iterable) : cycle infinitely through an iterable
print("")
sum = 0
for i in cycle([1, 2, 3]):
    print(i)
    sum += i
    if sum >= 12:
        break

# repeat(x): repeat x infinitely or n times
print("")
for i in repeat("A", 3):
    print(i)

10
11
12
13

1
2
3
1
2
3

A
A
A