# Tuple
- colletion of objects 
- List 친구 -> 수정이 불가하다는 것이 리스트랑 차이
# TUPLE을 쓰는 이유
- immutable이기에 조금더 빠른 iterating 지원
- tuple은 immutable이기에 dictionary에 key로 사용 가능
    - list는 사용 불가능
- immutable이기에 write-protected : js -> const 함수 와 비슷하게

# CREATE TUPLE

In [1]:
tuple_1 = ("Max", 28, "New York")
tuple_2 = "Linda", 25, "Miami"

In [2]:
tuple_3 = (25,)
print(tuple_1)
print(tuple_2)

('Max', 28, 'New York')
('Linda', 25, 'Miami')

In [3]:
tuple_3 = tuple([1,2,3])
print(tuple_3)

(1, 2, 3)

In [6]:
# Access Elements

In [7]:
item = tuple_1[0]
print(item)

item = tuple_1[-1]
print(item)

Max
New York

#### Add or change items 
Not possible and will raise a TypeError.

In [9]:
tuple_1[2] = "Boston"

TypeError: 'tuple' object does not support item assignment

# Delete a tuple

In [10]:
del tuple_2

In [15]:
# Iterating

In [16]:
for i in tuple_1:
    print(i)

Max
28
New York

# Check if an item exists

In [14]:
if "New York" in tuple_1:
    print("yes")
else:
    print("no")

yes

# Usefule methods

In [17]:
my_tuple = ('a','p','p','l','e',)

# len() : get the number of elements in a tuple
print(len(my_tuple))

# count(x) : Return the number of items that is equal to x
print(my_tuple.count('p'))

# index(x) : Return index of first item that is equal to x
print(my_tuple.index('l'))

# repetition
my_tuple = ('a', 'b') * 5
print(my_tuple)

# concatenation
my_tuple = (1,2,3) + (4,5,6)
print(my_tuple)

# convert list to a tuple and vice versa
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print(list_to_tuple)

tuple_to_list = list(list_to_tuple)
print(tuple_to_list)

# convert string to tuple
string_to_tuple = tuple('Hello')
print(string_to_tuple)

5
2
3
('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')
(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd')
['a', 'b', 'c', 'd']
('H', 'e', 'l', 'l', 'o')

# Slicing

In [22]:
# a[start:stop:step], default step is 1
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = a[1:3] # Note that the last index is not included
print(b)
b = a[2:] # until the end
print(b)
b = a[:3] # from beginning
print(b)
b = a[::2] # start to end with every second item
print(b)
b = a[::-1] # reverse tuple
print(b)

(2, 3)
(3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

# Unpack tuple

In [23]:
tuple_1 = ("Max", 28, "New York")
name, age, city = tuple_1
print(name)
print(age)
print(city)

# tip: unpack multiple elements to a list with *
my_tuple = (0, 1, 2, 3, 4, 5)
item_first, *items_between, item_last = my_tuple
print(item_first)
print(items_between)
print(item_last)

Max
28
New York
0
[1, 2, 3, 4]
5

# Nested tuples

In [24]:
a = ((0, 1), ('age', 'height'))
print(a)
print(a[0])

((0, 1), ('age', 'height'))
(0, 1)

# Compare tuple and list
- immutablility of tuples 는 최적화를 가능
- 큰 데이터일때 tuple이 효율적이다

In [25]:
# compare the size
import sys
my_list = [0, 1, 2, "hello", True]
my_tuple = (0, 1, 2, "hello", True)
print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

# compare the execution time of a list vs. tuple creation statement
import timeit
# timeit 모듈 사용법 -> 코드 실행 시간 
# stmt : 코드 및 함수 
print(timeit.timeit(stmt="[0, 1, 2, 3, 4, 5]", number=1000000))
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000000))

96 bytes
80 bytes
0.0531716250000045
0.00585245800004941

---